/* ****************** */
/* ****Base Styles*** */
/* ****************** */
header, footer{
  display: grid;
  justify-content: center;
  align-item: center;
  
  text-align: center;
  background-color: green;
  color: black;
  width: 100%;
}

main {
  display: grid;
  justify-content: center;
  height: 90vh;
  place-self: center;
  justify-items: center;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 2rem 0;
  padding: 3rem;
}

fieldset {
  display:flex;
  flex-direction: column;
  gap: 10px;
}

input {
  font-size: clamp(0.3rem, 5vw, 1rem);
}

legend {
  font-size: clamp(1rem, 5vw, 1.3rem);
}


/* ****************** */
/* ******Layout****** */
/* ****************** */

.grid-layout {
  display: grid;  
}

.flex-layout {
  display: flex;
  flex-direction: column;
} 

/* ****************** */
/* ******Utility***** */
/* ****************** */

.no-border {
  border: none;
}

.input-title {
  font-size: clamp(1rem, 2.5vw, 1.17rem);
  font-weight: 400;
  line-height: 1.5;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

button:hover {
  background-color: lightgreen;
}